node_modules
.DS_Store
dist
dist-ssr
*.local

.idea
.history
schema_local
.eslintcache
yarn.lock
yarn-error.log

cloudflare/src
.env.secret
openapitools.json
cli/tmp
.vscode
bun.lockb
capacitor.config.json
.wrangler
.env
package-lock.json
.nuxt